@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C1BFFA;
  font-family: inter, sans-serif;
}

.checkspan{

  vertical-align:middle;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin-top: 50px;
  margin-bottom: 80px;

  position: relative;
  width: 48vw;
  height: auto;

  border-radius: 16px;
  background-color: white;
  
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #1B1B1B;
  border-radius: 8px;
}


.outer{
  
  position: fixed;
  width: 100vw;
  height: 100vw;
  z-index: 999;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  
  background-color:grey;
}

.txt-outer{

  z-index: 10000;
}


.add-curso{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin-top: 80px;
  margin-bottom: 90px;

  position: center;
  width: 60vw;
  height: auto;

  border-radius: 16px;
  background-color: white;
  
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #1B1B1B;
  border-radius: 8px;

  z-index: 99999;

}

.check-curso{

  display: flex;
  flex-direction: column;
  align-items: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  margin-top: 30px;
  margin-bottom: 20px;

  position: relative;
  width: 52.7vw;
  height: auto;

  
 

}

/*pra radio buttons e checkboxes*/
.div-multiple{
  display: flex;
  flex-direction: column;
  align-items: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  margin-top: 30px;
  margin-bottom: 20px;

  border-radius:2px;
  border-style:solid;

  position: relative;
  width: 52.7vw;
  height: auto;
}

.check {
  vertical-aling:middle;
}



.fullscreen-overlay {
  position: fixed;     /* Stay in place relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw;        /* Full viewport width */
  height: 100vh;       /* Full viewport height */
  z-index: 9999;       /* Sit on top of all other elements */
  
  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.4); 
  
  /* Flexbox to perfectly center content inside the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#exit {
  align-self: flex-end;
}

h1 {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 800;
}


label {
  margin-top:6px;
  font-weight: 600;
}

.required{
  margin-top: 12px;
}


.required:after {
    content:" *";
    color: red;
  }



.general-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 16px 24px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #FFFFFF;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s;
}


.dif-label{
  
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  font-weight:400;
}

.radio-ativo{
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
  
}



textarea:focus, input:focus{
  outline: none;
  background: #F9E450;
  border: 3px solid #1B1B1B;
  border-radius: 16px;
}

.exp-cvc {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.expiration {
  font-size: 0.75rem;
  width: 50%;
  margin-right: 20px;
}

.security {
  font-size: 0.75rem;
  width: 50%;
  margin-left: 20px;
}

span {
  padding-left: 5px;
  cursor: pointer;
}

.btn {
  background-color: #0055FB;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 32px 16px 16px;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;
  
  width: 141px;
  height: 56px;
  left: 16px;
  top: 88px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.16s ease-out;
}

.btn:hover {
  background: #0000DE;
  border: 4px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #C1BFFA;
  border-radius: 16px;
}

#exit {
  cursor: pointer;
}


select{
  margin-top:10px;

}

#div-submit-final{
  margin-top:50px;
}
